@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* ===== Global Styles ===== */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1f1f1f;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;
  --brand-black: rgb(26, 26, 26);
  --success-green: rgb(34, 197, 94);
  --background: #ffffff;
  --foreground: rgb(26, 26, 26);
  --border: rgb(204, 204, 204);
  --ring: rgb(26, 26, 26);
}


@theme inline {
  --color-brand-black: var(--brand-black);
  --color-success-green: var(--success-green);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
